/* Animación para deslizar el menú lateral */
.transform {
  transition: transform 0.3s ease-in-out;
}

.translate-x-0 {
  transform: translateX(0);
}

.-translate-x-full {
  transform: translateX(-100%);
}

/* Estilo del menú lateral */
.fixed {
  position: fixed;
}

.h-full {
  height: 100%;
}

.w-14 {
  width: 56px; /* Ancho aproximado de 50px */
}

.bg-gray-800 {
  background-color: #2d3748;
}

.text-white {
  color: white;
}

.shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

/* Espaciado y colores de los íconos */
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hover\:bg-gray-700:hover {
  background-color: #4a5568;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.mt-10 {
  margin-top: 2.5rem;
} 